div {
    height: 300px;
    width: 300px;
}

.green {
    background-color: rgb(129, 125, 121);
    color: green;
    margin-top: 2em;
}

.red {
    background-color: rgb(129, 125, 121);
    color: red;
}